<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>홈화면</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>

<header th:replace="/nav :: navFragment"></header>

<main class="main_div">
  <div class="main_sub_div">

    <form th:action method="post"  enctype="multipart/form-data" th:object="${problem}">
      <div class="content_ex_div">
        <h2 class="content_title">Lv.</h2>
        <select style="font-size: 1.1rem; width:4rem; height: 2rem; margin-top: 1rem; margin-left: 0.7rem;" th:field="*{level}" class="form-select">
          <option value="">선택</option>
          <option th:each="level : ${levels}" th:value="${level}" th:text="${level}">1</option>
        </select>
      </div>

      <div style="border-bottom: 0.05rem solid #5F5F5F;" class="sentence_and_audio_div">

        <div class="field-error" th:errors="*{korean}">한글 오류</div>
        <div style="display: flex; align-items: center; justify-content: center">
          <input class="ko_input" type="text" th:field="*{korean}" placeholder="한글">
        </div>
        <div style="display: flex; align-items: center; justify-content: center">
          <input class="ko_input" type="text" th:field="*{koPronunciation}" placeholder="한글표기">
        </div>
        <div class="field-error" th:errors="*{english}">영어(번역) 오류</div>
        <div>
          <input class="en_input" type="text" th:field="*{english}" placeholder="영어(번역)">
        </div>
        <div style="display: flex; align-items: center; justify-content: center">
          <input class="en_input" type="text" th:field="*{enPronunciation}" placeholder="영어표기">
        </div>
        <div>
          <input class="en_input" type="text" th:field="*{exp}" placeholder="경험치">
        </div>

        <input type="file" name="audioFile" value="파일이름.wav">
      </div>

      <div style="display: flex; justify-content: center">
        <div>
          <button class="submit_btn" type="submit">등록</button>
        </div>
        <div>
          <button type="button" class="cancel_btn" onclick="location.href='/'">취소</button>
        </div>
      </div>

    </form>
  </div>

</main>

<footer th:replace="/footer :: footFragment"></footer>


</body>
</html>



