<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Koko</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nanum+Myeongjo:wght@400;700&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/loading.css}">

    <!-- 문제 페이지 아이콘 관련-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <header th:replace="/nav :: navFragment"></header>

    <main>
        <div class="contentTitle">
            <span th:text="'Lv.' + ${problem.level}" class="contentMainTitle">Lv.1</span>
        </div>
        <div class="problemBox">
            <div class="korean">
                <audio id="actualAudioEl" style="display:none;">
                    <source th:src="@{/content/problemActualAudio/{problemId}(problemId=${problem.id})}" type="audio/wav">
                </audio>
                <button id="playActualAudio" class="play"><span class="material-symbols-outlined">play_circle</span></button>
                <span th:text="${problem.korean}"></span>
            </div>
            <div class="english">
                <span th:text="${problem.english}"></span>
            </div>
            <div id="recordLoading" class="recordLoading">
                <div class="spinner-box">
                    <div class="leo-border-1">
                        <div class="leo-core-1"></div>
                    </div>
                    <div class="leo-border-2">
                        <div class="leo-core-2"></div>
                    </div>
                </div>
            </div>
            <div id="userAudioWithVisualizer" class="userAudioWithVisualizer">
                <div>
                    <button class="play"><span class="material-symbols-outlined play">play_circle</span></button>
                    <audio style="display:none;"></audio>
                    <canvas id="userAudioVisualizer"></canvas>
                </div>
            </div>
        </div>
        <div class="recordAndSubmit">
            <button id="record"><span class="material-symbols-outlined record">Mic</span></button>
            <button id="problemSubmit" style="display: none"><span class="material-symbols-outlined problemSubmit">upload</span></button>
        </div>
    </main>

    <footer th:replace="/footer :: footFragment"></footer>
    <script th:src="@{/js/problem.js}"></script>
</body>

</html>