<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>홈화면</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nanum+Myeongjo:wght@400;700&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>

    <header th:replace="/nav :: navFragment"></header>

    <div th:if="${error} != null" class="error">
        <span th:text="${error}"></span>
    </div>

    <main th:unless="${error} != null">
        <div class="contentTitle">
            <span th:text="${step.title}" class="contentMainTitle">단어</span>
            <span th:text="${step.description}" class="contentSubTitle">단어 연습으로 한국어 입문해 보세요</span>
        </div>

        <table class="contentTable">
            <thead>
                <tr>
                    <th style="width: 3%;"></th>
                    <th style="width: 10%;">번호</th>
                    <th>발음</th>
                    <th style="width: 10%;">도전</th>
                    <th style="width: 10%;">정답</th>
                    <th style="width: 12%;">성공률</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')" style="width: 15%;">문제설정</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="problem, problemStat: ${problems}" id="problem" th:onclick="redirectToProblem([[${problem.id}]])">
                    <td th:if="${problem.clearState == null}">
                    </td>
                    <td th:unless="${problem.clearState == null}">
                        <span th:if="${problem.clearState.getName() == '성공'}" class="material-symbols-outlined clearState success">done</span>
                        <span th:if="${problem.clearState.getName() == '실패'}" class="material-symbols-outlined clearState fail">close</span>
                    </td>
                    <td th:text="${problemStat.index + 1 + '번'}">1</td>
                    <td>
                        <span class="clamp" th:text="${problem.korean}"></span>
                    </td>
                    <td th:text="${problem.challengedCnt} + '명'">120</td>
                    <td th:text="${problem.clearCnt} + '명'">67</td>
                    <td th:if="${problem.challengedCnt} != 0" th:text="(${problem.clearCnt} / ${problem.challengedCnt})*100 + '%'">99.0%</td>
                    <td th:unless="${problem.challengedCnt} != 0">0%</td>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">
                        <span><a th:href="@{/admin/updateProblem/{problemId}(problemId=${problem.id})}" style="font-weight: 200; font-size: 16px;">수정</a></span>
                        <span style="font-weight: 200; font-size: 16px;"> / </span>
                        <span><a th:href="@{/admin/deleteProblem/{problemId}(problemId=${problem.id})}" style="font-weight: 200; font-size: 16px;">삭제</a></span>
                    </th>
                </tr>
            </tbody>
        </table>
        <div sec:authorize="hasRole('ROLE_ADMIN')" style="width:900px; margin:auto; text-align: right">
            <a href="/admin/problemForm">
                <span style="padding: 5px; border: 1px solid white; font-weight: 200; font-size: 16px;">문제등록</span>
            </a>
        </div>
    </main>

    <footer th:replace="/footer :: footFragment"></footer>
</body>




</html>



