* {
    margin: 0;
    padding: 0;

}


.main_div {
    margin:6rem 0;
    display: flex;
    justify-content: center;
}

.main_sub_div {
    width: 60rem;
    height: auto;
}

.margin_bottom {
    margin-bottom: 3rem;
}
nav {
    position:sticky;
    top:0;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;

 }
 nav h1 {
     margin: 0.7rem 0;
 }
 nav ul {
     list-style-type: none;
     display: flex;
     flex-direction: row;
 }

 nav li {
 }

 .nav_title_a {
     text-decoration: none;
     color: rgb(31, 31, 31);
     font-size: 1.2rem;
     font-weight: 600;
     margin: 0.8rem 0;
 }
 .nav_a_black {
     margin: 0 0.3rem;
    text-decoration: none;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    color: rgb(31, 31, 31);
    line-height: 1.25rem;
    font-size: 0.9rem;
    font-weight: 600;
}

.nav_a_admin {
    margin: 0 0.3rem;
    text-decoration: none;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    color: red;
    line-height: 1.25rem;
    font-size: 0.9rem;
    font-weight: 600;
}

 .nav_a_admin:hover {
    background-color: #f2f2f2;
}
.nav_a_black:hover {
    background-color: #f2f2f2;
}

.div_items_center {
    display: flex;
    align-items: center;
    margin: 0;
}

.main_img {
    width: 100%; /* 가로 폭 100% */
    height: auto; /* 원본 비율 유지 */
}


.footer_main_div {
    height: 15rem;
    align-items: center;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    background: rgb(245, 245, 245);
}

.footer_bottom0 {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer_info_div {
    width: 50rem;
}
.footer_info_p {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.25rem;
    letter-spacing: -0.01875rem;
    color: rgb(117, 117, 117);
    margin-bottom: 0.5rem;
}

.content_div {
    display: flex;
    justify-content: center;
}
.content_main_div
{
    margin: 5rem 0;
    width: 55rem;
}

.content_explain {
    padding-bottom: 2.2rem;
    font-size: 2.5rem;
    font-weight: 600;

}

.content_div_position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content_imgAndExplain_div {
    overflow: hidden;
    border-radius: 1.5rem;
    width: 25rem;
}

.content_img {
    height: 25rem;
    width: 25rem;
    transition:800ms ease all;
}

.content_img:hover {
    transform:scale(1.2);
}

.content_a_div {
    padding-top: 0.7rem;
}

.content_a {
    padding-top: 1.5rem;
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-size: 1.3rem;
    font-weight: 600;
}

.login_main_div {
    display: flex;
    justify-content: center;

}

.login_sub_div {
    margin: 2rem 0;
    width: 25rem;
    height: auto;

}

.login_form {

}

.login_text {
    margin-top: 1rem;
    height: 4rem;
    width: 24rem;
    border-radius: 0.2rem;
    font-size: 1.1rem;
    border: 0.05rem solid silver;
    padding-left: 1rem;
}

.login_submit {
    border:none;
    margin-top: 1.5rem;
    height: 4.1rem;
    width: 25.1rem;
    border-radius: 0.2rem;
    font-size: 1.1rem;
    background-color: #000;
    color: #fff;
}
.login_submit:hover{
    cursor: pointer;
}

.login_text:focus {
    outline: 0.075rem solid black;
}

.content_title_div {
    display: flex;
    justify-content: center;
    border-bottom: 0.05rem solid #5F5F5F;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
}

.content_title {
    padding: 0.8rem 0;
    font-weight: 600;
    font-size: 1.5rem;
}

.between_div {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.login_a {
    text-decoration: none;
    color : #5F5F5F;
    font-size: 0.9rem;
    font-weight: 450;
}

.sns_login_img {
    width: 3rem;
    height: auto;
    border-radius: 0.5rem;
    margin-top: 1rem;

}
.sns_login_img :hover {
    cursor: pointer;
}

.join_main_div {
    display: flex;
    justify-content: center;

}

.join_sub_div {
    margin: 2rem 0;
    width: 25rem;
    height: auto;

}

.join_label_div {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.join_text {
    height: 3rem;
    width: 24rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    border: 0.05rem solid silver;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.join_submit {
    border:none;
    margin-top: 1.5rem;
    height: 3.1rem;
    width: 25.1rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    background-color: #000;
    color: #fff;
}

.join_cancel {
    border:none;
    margin-top: 1rem;
    height: 3.1rem;
    width: 25.1rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    background-color: #f05650;
    color: #fff;
}

.join_text:focus {
    outline: 0.075rem solid black;
}

.field-error {
    padding-top: 0.4rem;
    color: #dc3545;
    font-size: 0.9rem;

}

.loading_div1 {
    display: none;
    margin-top: 10rem;
}

.audio_and_visual_div1 {
    display: none;
}

.content_ex_div {
    display: flex;
    width: 60rem;
    justify-content: center;
    border-bottom: 0.05rem solid #5F5F5F;
}

.sentence_and_audio_div {
    padding: 10rem;
    text-align: center;

}

.sentence_ko_text {
    font-weight: 500;
    font-size: 2rem;
}

.sentence_en_text {
    margin-top: 2rem;
    font-weight: 500;
    font-size: 1.4rem;
}

.record_button_div {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.record_img_button{
     border: none;
     border-radius: 50%;
     transition:800ms ease all;
 }

.record_img_button:hover{
    transform: scale(1.2);
}

.record_img {
    -webkit-user-drag: none;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.play_img_button{
    margin-right: 1rem;
    border: none;
    border-radius: 50%;
    transition:800ms ease all;
}

.play_img_button:hover{
    transform: scale(1.2);
}

.play_img {
    -webkit-user-drag: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.content_table_div {
    margin-top: 2rem;
}



.content_table {
    font-size: .9em;
    box-shadow: 0 2px 5px #73685d;
    width: 60rem;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

.content_table th {
    text-align: left;
}

.content_table thead {
    font-weight: bold;
    color: #fff;
    background: #73685d;
    border: 1px solid #73685d;
}

.content_table td, .content_table th {
    padding: 1em 1em;
    vertical-align: middle;
}


.content_table td {
        border-bottom: 1px solid rgba(0,0,0,.1);
        background: #fff;
    }

.content_table a {
    color: #73685d;
}

.speech-bubble
{
    display: none;
    position: relative;
    background: #FFFFFF;
    border-radius: 2px;
    border: 0.07rem solid silver;
    position: absolute;
    left: -0.8rem;
    bottom: -8.3rem;
    text-align: left;
    width: auto;
    height: auto;
}

.speech-bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 0.7rem 0.7rem 0.7rem;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -0.6rem;
    left: 2.5rem;
}

.speech-bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 0.7rem 0.7rem 0.7rem;
    border-color: silver transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -0.7rem;
    left: 2.5rem;
}

.speech-bubble ul {
    margin: 0.7rem 1rem;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.speech-bubble li {
    margin: 0.3rem 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.speech-bubble a {
    font-size: 0.9rem;
    color: rgba(0,0,0,.7);
    text-decoration: none;
}

.speech-bubble a:hover {
    font-weight: bold;
    font-size: 0.9rem;
}

.nav_a_admin:hover + .speech-bubble{
    display: block;
}

.speech-bubble:hover + .speech-bubble {
    display: block;
}


