:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    /* Size */
    --spacing: 18px;
    --spacing-small: 6px;
    --avatar-size: 36px;

    /* Font Size */
    --font-large: 20px;
    --font-regular: 16px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;

    --header-height: 100px;
    --footer_heigth: 120px;

    --stepInfo-width:700px;

    --title-top-margin:200px;
    --title-font-weigth : 400;
    --subTitle-font-weigth : 100;
    --title-font-size : 36px;
    --subTitle-font-size : 20px;
    --between-title-subTitle : 10px;
}

@keyframes fade-in-animation {
    0% {
        opacity: 0; /* 시작 상태: 투명 */
    }
    100% {
        opacity: 1; /* 종료 상태: 완전히 나타남 */
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*background-image: url("/image/background.jpeg");*/
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-attachment: fixed;
}

button {
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.error {
    text-align: center;
    margin: 300px auto;
    font-weight: var(--title-font-weigth);
    font-size: var(--title-font-size);
    color: white;
}

.navigator {
    background-color: rgba(0, 0, 0, 0.05);
    position:fixed;
    top:0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 1100px;
    height: var(--header-height);
    align-items: center;
}
.navigator span {
    color: var(--white-color);
}

.navigator .logo{
    margin-left: 100px;
}

.navigator .logo .title{
    font-size: 40px;
}

.navigator .menu {
    display: flex;
    margin-right: 80px;
}

.navigator .menu a {
    padding: var(--spacing-small);
    margin: 0 5px;
    font-size: var(--font-regular);
    font-weight: 100;
}

.navigator .menu a:hover {
    border-bottom: 2px solid var(--white-color);
    transition:300ms ease all;
}


.contentTitle {
    margin-top: var(--title-top-margin);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.contentMainTitle {
    font-weight: var(--title-font-weigth);
    font-size: var(--title-font-size);
}

.contentSubTitle {
    margin-top: var(--between-title-subTitle);
    font-weight: var(--subTitle-font-weigth);
    font-size: var(--subTitle-font-size);
}

.mainPhrasesAndGoStep {
    min-width: 1000px;
    min-height: 100vh;
}

.mainPhrases {
    padding-top: 300px;
}

.mainPhrases div {
    text-align: center;
    opacity: 0; /* 처음에 투명하게 설정 */
    color: var(--white-color);
}

.firPhrase {
    animation: fade-in-animation 2s ease-in-out forwards; /* 1초 동안 서서히 나타나도록 애니메이션 설정 */
    font-family: 'Gowun Batang', serif;
    font-size: 30px;
}

.sndPhrase {
    animation: fade-in-animation 3s ease-in-out forwards; /* 1초 동안 서서히 나타나도록 애니메이션 설정 */
    font-family: 'Righteous', cursive;
    font-size: 80px;
    margin-top: 15px;
}

.trdPhrase {
    animation: fade-in-animation 4s ease-in-out forwards; /* 1초 동안 서서히 나타나도록 애니메이션 설정 */
    font-family: 'Righteous', cursive;
    font-size: 60px;
    margin-top: 15px;
}

footer {
    width: 100%;
    min-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--footer_heigth);
    position: fixed;
    bottom: 0;
    pointer-events: none;
}

footer div {
    display: flex;
    flex-direction: column;
    font-size: var(--font-regular);
    font-weight: 100;
    color: white;
}

footer .univInfo {
    margin-left: 40px;
}

footer .teamInfo {
    margin-right: 40px;
}

.department {
    font-size: var(--font-small);
}

.goStep {
    text-align: center;
    margin-top : 160px;
}

.goStep .forScrollText {
    font-size: 30px;
    font-weight: 300;
    color: var(--white-color);
}

.arrow-down {
    margin-top: 35px;
    outline: none; /* 윤곽선 제거 */
    background-color: transparent; /* 배경색 투명하게 설정 */
    border: none; /* 테두리 제거 */
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능한 상태 표시 */
}

.arrow-down span{
    display: block;
    width: 1.5em;
    height: 1.5em;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    margin: -10px 0;
    animation: animate-arrows 2s infinite;
}

@keyframes animate-arrows{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-1.5em, -1.5em);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(1.5em, 1.5em);
    }
}

.arrow-down span:nth-child(1){
    animation-delay: -0.2s;
}
.arrow-down span:nth-child(2){
    animation-delay: -0.4s;
}
.arrow-down span:nth-child(3){
    animation-delay: -0.6s;
}

.steps {
    height: 800px;
    background: linear-gradient(45deg, rgba(73, 160, 157, 06), rgba(95, 44, 130, 0.8));
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-attachment: fixed;
}

.steps .contentTitle{
    padding-top: 150px;
    margin-top: 0;
}

.steps .stepInfo {
    margin: 50px auto;
    width: 1120px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.steps .stepInfo > div{
    background-repeat: no-repeat;
    background-size: cover;

}

.steps .stepInfo > div{
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(50, 50, 50, 0.3),
    10px 10px 20px rgba(50, 50, 50, 0.2),
    10px 10px 30px rgba(50, 50, 50, 0.1);
    background-color: var(--white-color);
    width: 250px;
    height: 300px;
    color: var(--black-color);
    font-size: 20px;
    font-weight: 200;
    transition:800ms ease all;
    color: white;
    padding-left: 20px;
}


.steps .stepInfo > div:hover{
    transform:scale(1.1);
    cursor: pointer;
}


.steps .level{
    margin-top: 20px;
    width: 53px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    border-radius: 5px;
}

.steps .stepInfo .stepTitle{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 200px;
}

.steps .stepInfo .stepTitle span{
    margin-right: 20px;
    padding: 8px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
}

.contentTable {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin:30px auto;
    width: 900px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.contentTable th, td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: white;
}

.contentTable th {
    text-align: left;
}

.contentTable thead th {
    font-weight: var(--title-font-weigth);
    background-color: #55608f;
}

.contentTable tbody td{
    font-weight: var(--subTitle-font-weigth);
}

.contentTable tbody tr:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.3);
}

.contentTable tbody td .clamp {
    padding-right: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.problemBox {
    color: white;
    font-weight: var(--subTitle-font-weigth);
    text-align: center;
    border-top: 1px dashed  white;
    border-bottom: 1px dashed  white;
    border-spacing: 200px;
    margin: 20px auto;
    width: 1100px;
    padding: 100px 0;
}

.problemBox .korean {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    max-width: 800px;
    margin: auto;
}

.play{
    display: flex;
    align-items: center;
    margin-right: 6px;
    border: none;
    background-color: transparent;
    transition:800ms ease all;
}

.play:hover{
    transform: scale(1.1);
}

.play span{
    font-size: 35px;
}

.problemBox .english {
    margin-top: 10px;
    font-size: 20px;
}

.recordAndSubmit {
    padding-bottom: calc(var(--title-top-margin) - var(--header-height) + var(--footer_heigth));
    text-align: center;
    position: relative;
    width: 1100px;
    margin: auto;
}

.deNoiseModeBox {
    position: absolute;
    transform: translate(0, 7%); /* 이동한 요소를 다시 50% 만큼 왼쪽과 위로 이동하여 중앙 정렬합니다 */
}

.recordAndSubmit button{
    margin: 0 5px;
    border: none;
    background-color: transparent;
    transition:800ms ease all;
}

.recordAndSubmit button:hover{
    transform: scale(1.2);
}

.recordAndSubmit .record, .recordAndSubmit .problemSubmit{
    padding: 4px;
    border-radius: 50%;
    font-size: 45px;
}

.material-symbols-outlined{
    color: white;
    font-variation-settings:
            'FILL' 0,
            'wght' 200,
            'GRAD' 0,
            'opsz' 48
}

.problemBox .recordLoading {
    display: none;
    margin-top: 110px;
}

.problemBox .userAudioWithVisualizer {
    display: none;
    margin-top: 30px;
}

.problemBox .userAudioWithVisualizer > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.response {
    display: none;
}

.response > div{
    display: inline-block;
    text-align: left;
    margin-top: 30px;
}

.response > div > div{
    margin-top: 16px;
    font-size: 20px;
    font-weight: var(--subTitle-font-weigth);
}

.spectrogram {
    display: flex;
    align-items: center;
    font-weight: var(--subTitle-font-weigth);
    font-size: 14px;
    background-color: transparent;
    border: 1px solid var(--white-color);
    padding-left: 7px;
    margin-left: 20px;
    border-radius: 30px;
    transition:800ms ease all;
}

.spectrogram:hover {
    transform:scale(1.075);
}

.spectrogramImg {
    margin-top: 30px;
    display: none;
}

.spectrogramImg img{
    margin: 0 30px;
    width: 350px;
    height: 300px;
}

.clearState {
    font-weight: 600;
}

.clearState.success {
    color: white;
}

.clearState.fail {
    color: white;
}

.contentTable .material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 600,
            'GRAD' 0,
            'opsz' 48
}

.formLogin, .snsLogin {
    width: 400px;
    margin: 10px auto;
    padding-top: 20px;
    border-top: 1px solid var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formLogin input, .formLogin button{
    width: 400px;
    height: 60px;
    margin-bottom: 10px;
    color: white;
    font-weight: var(--subTitle-font-weigth);
    font-size: var(--subTitle-font-size);
}

.formLogin input{
    padding-left: 20px;
    background-color: rgba(255,255,255, 0.3);
    border: 1px solid rgba(255,255,255, 0.5);
}

.formLogin input:focus{
    border: 1px solid white;
}

.formLogin input::placeholder {
    color: white;
    font-weight: var(--subTitle-font-weigth);
    font-size: var(--subTitle-font-size);
}

.formLogin button{
    background-color: rgba(0,0,0,0.7);
    border: 1px solid rgba(0,0,0, 0.7);
    font-weight: var(--title-font-weigth);
}

.formLogin > div {
    margin-top: 5px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.formLogin a {
    font-size: 16px;
    font-weight: var(--title-font-weigth);
    color: white;
}

.sns {
    padding-bottom: calc(var(--title-top-margin) - var(--header-height) + var(--footer_heigth));
}

.sns .snsLogin a {
    margin-bottom: 8px;
}

.sns .snsLogin img{
    border-radius: 8px;
    overflow: hidden;
}

.sns .snsLogin .google{
    height: 60px;
    width: 400px;
}

.sns .snsLogin .kakao{
    height: 60px;
    width: 400px;
}

.memberTextInfo {
    margin-top: var(--title-top-margin);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.memberTextInfo .history{
    width: 200px;

}

.memberTextInfo .history{
    border-top: 1px solid rgba(255,255,255,0.3);
}

.memberTextInfo .history > div{
    display: flex;
    justify-content: space-between;
    padding:10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    color: white;
    font-size: 15px;
}

.memberTextInfo .history > div > span{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-weight: var(--title-font-weigth);
}

.memberTextInfo .history > div > a{
    margin-right: 20px;
    font-weight: var(--subTitle-font-weigth);
}

.memberTextInfo .basic{
    position: relative;
    width: 500px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
}

.memberTextInfo .basic > div{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    color: white;
    font-size: 18px;
}

.memberTextInfo .basic > div > span:first-child{
    margin-left: 20px;
    font-weight: var(--title-font-weigth);
}

.memberTextInfo .basic > div > span:nth-child(2){
    margin-right: 20px;
    font-weight: var(--subTitle-font-weigth);
}

.memberTextInfo .basic button {
    border-radius: 3px;
    position: absolute;
    left: 87.8%;
    margin-top: 10px;
    border: none;
    background-color: rgba(255,255,255,0.2);
    padding: 8px 15px;
    font-weight: var(--title-font-weigth);
    font-size: 15px;
    color: white;
}

.memberGraphInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: calc(var(--title-top-margin) - var(--header-height) + var(--footer_heigth));
}









