<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

<footer th:fragment="footFragment" class="footer_main_div">
    <div class="footer_info_div">
      <p class="footer_info_p">Team : Koko</p>
      <p class="footer_info_p">Team members : 박연진, 박광현, 전상언</p>
      <p class="footer_info_p">tel : 010-7307-4546</p>
      <p class="footer_info_p">창원대학교 정보통신공학과</p>
    </div>
</footer>