<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <footer th:fragment="footFragment">
    <div class="univInfo">
      <span>Changwon National Univ</span>
      <span class="department">Department of Information and Communication Engineering</span>
    </div>
    <div class="teamInfo">
      <span>Team : Koko</span>
      <span>Team Member : 박광현, 박연진, 전상언</span>
      <span>Tel : 010-7307-4546</span>
    </div>
    <script th:src="@{/js/functions.js}"></script>
  </footer>

</body>
</html>