<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Koko</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}">
</head>
<body>

  <nav class="navigator">
    <div class="logo">
      <span class="title">Koko</span>
    </div>
    <ul class="menu">
      <li class="login">
        <a href="/login">로그인</a>
      </li>
      <li class="myPage">
        <a>내정보</a>
      </li>
      <li class="admin">
        <a>관리자</a>
      </li>
    </ul>
  </nav>
  <section class="mainImg">
    <img src="/image/main_img.jpg">
  </section>
  <section class="content">

  </section>

</body>
</html>