<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Koko</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nanum+Myeongjo:wght@400;700&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}">
</head>
<body>

  <header th:replace="/nav :: navFragment"></header>

  <main>
      <div class="mainPhrasesAndGoStep" style="background-image: url('/image/main_img.jpg');">
          <div class="mainPhrases">
              <div class="firPhrase"><span>언제 어디서든 쉽게,</span></div>
              <div class="sndPhrase"><span>Speaking Today With</span></div>
              <div class="trdPhrase"><span>Koko</span></div>
          </div>
          <div class="goStep">
              <div class="forScrollText">
                  <span>Let's Speaking</span>
              </div>
              <button id="scrollButton" class="arrow-down">
                  <span></span>
                  <span></span>
                  <span></span>
              </button>
          </div>
      </div>

      <div class="steps">
          <div class="contentTitle">
              <span class="contentMainTitle">단계별 연습</span>
              <span class="contentSubTitle">난이도에 따라 다양한 발음에 도전해 보세요</span>
          </div>
          <div class="stepInfo">
              <div th:onclick="redirectToStep(1)" style="background-image: url('/image/korea01.jpg')">
                  <div class="level" style="background: cornflowerblue"><span>Lv.1</span></div>
                  <div class="stepTitle"><span style="background: cornflowerblue">단어</span></div>
              </div>
              <div th:onclick="redirectToStep(2)" style="background-image: url('/image/korea02.jpg')">
                  <div class="level" style="background: mediumseagreen"><span>Lv.2</span></div>
                  <div class="stepTitle"><span style="background: mediumseagreen">쉬운 문장</span></div>
              </div>
              <div th:onclick="redirectToStep(3)" style="background-image: url('/image/korea03.jpg')">
                  <div class="level" style="background: darkorange"><span>Lv.3</span></div>
                  <div class="stepTitle"><span style="background: darkorange">어려운 문장</span></div>
              </div>
              <div th:onclick="redirectToStep(4)" style="background-image: url('/image/korea04.jpeg')">
                  <div class="level" style="background: indianred"><span>Lv.4</span></div>
                  <div class="stepTitle"><span style="background: indianred">고난이도 문장</span></div>
              </div>
          </div>
      </div>
  </main>

  <footer th:replace="/footer :: footFragment"></footer>
</body>

</html>